<div class="ui card">
  <section class="ui segment">
    <div class="ui large aligned image">
      <a href = "/bookmarklist/{{id}}">
      <img src = "https://cdn.glitch.com/9472c3c1-7758-4ab2-aa7e-7e55947f3675%2F6512e722bc9658f18265e24b8e83357c.jpg?1491411446492"> 
      </a>
    </div>
    <div class="content">
      <a href = "/bookmarklist/{{id}}">
        <p class="center aligned header">{{title}} ( {{bookmarks.length}} )</p>
      </a>
      <div class="center aligned meta">
        <a href="/dashboard/deletebookmarklist/{{id}}"><i class="red icon trash"></i></a>
      </div>
    </div>
  </section>
</div>